<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Salud Plus</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "base/head_css.html" %}
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'img/bg-01.jpg'%});">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form method="post" class="login100-form validate-form">{%csrf_token%}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<label for = "username" >Username</label>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<label for ="username">Password</label>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="{% url 'usuarios:registrar'%}" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% include "base/javascript.html" %}

</body>
</html>